@font-face {
    font-family: Cruce Wabro;
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/cruce-wabro.ttf');
    font-display: block;
}

@font-face {
    font-family: Neue Machina;
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/NeueMachina/NeueMachina-Light.otf');
    font-display: block;
}

@font-face {
    font-family: Neue Machina;
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/NeueMachina/NeueMachina-Regular.otf');
    font-display: block;
}

@font-face {
    font-family: Neue Machina;
    font-weight: 800;
    font-style: normal;
    src: url('../fonts/NeueMachina/NeueMachina-Ultrabold.otf');
    font-display: block;
}

@font-face {
    font-family: Inter;
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/Inter/Inter-Light-slnt=0.ttf');
    font-display: block;
}

@font-face {
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Inter/Inter-Regular-slnt=0.ttf');
    font-display: block;
}

@font-face {
    font-family: Inter;
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/Inter/Inter-Medium-slnt=0.ttf');
    font-display: block;
}

@font-face {
    font-family: Inter;
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/Inter/Inter-SemiBold-slnt=0.ttf');
    font-display: block;
}
@font-face {
    font-family: Inter;
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/Inter/Inter-Bold-slnt=0.ttf');
    font-display: block;
}